# Environments
.env
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Build and Distributions
build/
dist/
*.egg-info/
*.spec

# Project specific trash/test outputs
outputs/
error.txt
*.log
temp/
